@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    color: black;
}
.fcc {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
}

.ex-1 {
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 2px;
    display: inline-block;
    animation: ex-1 2s infinite linear;
}

.ex-2 {
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 2px;
    display: inline-block;
    animation: ex-2 1s infinite linear;
}

.cent {
    width: 10px;
    height: 30px;
    background-color: black;
    border-radius: 2px;
    display: inline-block;
    animation: cent 2s infinite linear;
}
@keyframes ex-1 {
    50% {
        transform: scaleY(2);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes ex-2 {
    50% {
        transform: scaleY(4);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes cent {
    50% {
        transform: scaleY(4);
    }

    100% {
        transform: scaleY(1);
    }
}
h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
span{
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}
section{
    min-height: 7cm;
    padding-bottom: 50px;
}
#presentation{
    background : linear-gradient(0deg,black 0%, black 45%, white);
    color: white;
    padding-top: 20px;
}
#project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.project{
    margin: 5px;
    position: relative;
}
.project .p-title{
    transform: translateY(-100%);
    position: absolute;
    top: 100%;
    width: 97%;
    height: 0;
    background-color: transparent;
    color: white;
    transition: 1s;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}
#competences{
    background-color: black;
    color: white;
}
#competences h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}
#comp-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.comp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    transition: 0.5s;
}
.comp:hover{
    background-color: white;
    color: black;
    border: 2px solid white
}
.comp:hover svg{
    fill: black;
}
.comp p{
    text-align: center;
}
.comp svg{
    width: 75px;
    min-height: 50px;
    margin: auto;
    fill: white;
}
.description h3{
    font-size: 20px;
}
.description p{
    font-size: 15px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
#reseaux{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link img{
    width: 50px;
    height: auto;
    margin: 10px;
}
#loader{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}
svg{
    fill: white;
    height: 50px;
    width: auto;
    margin: 10px;
}
@media (min-width : 1024px) {
    section p{
        font-size: 25px;
        margin: 10px;
        font-family: 'Spline Sans Mono', monospace;
    }
    #presentation p{
        width: 65vw;
    }
    #line{
        width: 5px;
        height: 200px;
        background-color: white;
        margin: 15px;
    }
    #photo-profil{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    a .item-img{
        height: 12cm;
        width: auto;
    }
    a:hover .item-img{
        opacity: .7;
        border: 2px black solid;
    }
    .comp:hover{
        transform: scale(1.3);
        transition: 0.5s;
    }
    #presentation{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project:hover .p-title{
        height: 40px;
        background-color: black;
        transition: 1s;
    }
}
@media (max-width:1000px) {
    section p{
        font-size: 25px;
        margin: 10px;
        font-family: 'Spline Sans Mono', monospace;
    }
    #presentation p{
        width: 90vw;
        text-align: center;
    }
    #line{
        width: 200px;
        height: 5px;
        background-color: white;
        margin: 15px;
    }
    #photo-profil{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    a .item-img{
        width: 90vw;
        height: auto;
    }
    #presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project .p-title{
        height: 40px;
        background-color: black;
        transition: 1s;
    }
}
@media (max-width: 400px) {
    .comp{
        width: 100px;
        height: 100px;
    }
    .comp img{
        width: 80px;
        height: auto;
    }
}
