*{
    margin: 0;
    padding: 0;
}
body{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: mouveb 7s infinite;
    overflow: hidden;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50%;
}
#sun{
    width: 500px;
    height: 500px;
    background-color: yellow;
    box-shadow: 0px 0px 15px 10px rgb(255, 217, 0);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#moon{
    width: 480px;
    height: 480px;
    border-radius:50%;
    z-index: 1;
    position: absolute;
    background-color: skyblue;
    animation: mouve 7s infinite;
}
@keyframes mouve{
    0%{
        left: 10in;
    }
    45%,55%{
        left: 10px;
        background-color: rgb(16, 67, 133);
    }
    100%{
        left: -10in;
    }
}
@keyframes mouveb{
    
    45%,55%{
        background-color: rgb(16, 66, 133);
    }
}
