@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: white;
  color: black;
}

.loader-group {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  .ex-1 {
    width: 10px;
    height: 30px;
    background-color: black;
    display: inline-block;
    animation: ex-1 2s infinite linear;
  }

  .ex-2 {
    width: 10px;
    height: 30px;
    background-color: black;
    display: inline-block;
    animation: ex-2 1s infinite linear;
  }

  .cent {
    width: 10px;
    height: 30px;
    background-color: black;
    display: inline-block;
    animation: cent 2s infinite linear;
  }
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 300;
  span {
    font-weight: 900;
  }
}

span {
  text-decoration: underline;
}

section {
  min-height: 7cm;
  padding-bottom: 50px;
  outline: none;
  border: 0;
}
.transition {
  width: 100%;
  height: 70px;
  background: linear-gradient(180deg, black, white);
}

#presentation {
  background: linear-gradient(0deg, black 0%, black 65%, white);
  color: white;
  padding-top: 20px;
}

#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}

.project {
  margin: 5px;
  position: relative;
}
.project-data {
  padding: 10px;
}
.project-name {
  font-size: 25px;
  font-weight: 900;
  text-align: justify;
}
.project-skills-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.project-data svg {
  height: 30px;
  margin: 0;
  fill: black;
}
.project-description {
  font-size: 15px;
  margin: 0;
}

.project .p-title {
  transform: translateY(-100%);
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0;
  background-color: transparent;
  color: white;
  transition: 1s;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
}

#competences,
#technos {
  background-color: black;
  color: white;
}

#competences h2,
#technos h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}

#comp-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.comp {
  position: relative;
  min-height: 150px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: 0.5s;
}
.comp::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  z-index: -2;
}
.comp:hover::before {
  border: 2px solid white;
  transform: translate(5px, 5px);
}

.comp:hover {
  background: white;
  color: black;
  border: 2px solid white;
}

.comp:hover svg {
  fill: black;
}

.comp p {
  font-size: 15px;
  text-align: center;
}

.comp svg {
  width: 75px;
  min-height: 50px;
  margin: auto;
  fill: white;
}
.progress {
  width: 125px;
  height: 20px;
  border: 2px solid white;
  margin-bottom: 10px;
}
.progress-value {
  width: 0;
  height: 100%;
  background: white;
  transition: 1s width ease-in-out;
}
.comp:hover .progress {
  border: 2px solid black;
}
.comp:hover .progress-value {
  background: black;
}

#technos-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  #reseaux {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.project {
  position: relative;
  background: white;
  border: 1px solid black;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    transition: 0.5s transform;
  }
  &:hover::before {
    transform: rotateZ(2deg);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate();
    background: white;
    border: 2px solid black;
    z-index: -1;
    transition: 0.5s transform;
  }
  &:hover::after {
    transform: rotateZ(-3deg);
  }
}
#loader,
#launcher {
  width: 100vw;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
}
#loader {
  z-index: 10000;
}
#launcher {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  p {
    font-size: 32px;
  }
  .button-start {
    cursor: pointer;
    .btn-top {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: black;
      color: white;
    }
  }
}
.integral-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
svg {
  fill: white;
  height: 50px;
  width: auto;
  margin: 10px;
}
@media (min-width: 1024px) {
  section {
  }
  #presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      width: 65vw;
    }
  }
  #line {
    width: 5px;
    height: 200px;
    background-color: white;
    margin: 15px;
  }
  #photo-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .item-img-container {
    height: 300px;
    width: 100%;
    .item-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      &:hover {
        .item-img {
          opacity: 0.7;
          border: 2px black solid;
        }
      }
    }
  }
  .comp {
    &:hover {
      transform: scale(1.3);
      transition: 0.5s;
    }
  }
  #project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:hover .p-title {
      height: 40px;
      background-color: black;
      transition: 1s;
    }
  }
}

@media (max-width: 1000px) {
  section {
    p {
      font-size: 15px;
      margin: 10px;
    }
  }

  #presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      width: 90vw;
      text-align: center;
    }
  }

  #line {
    width: 200px;
    height: 5px;
    background-color: white;
    margin: 15px;
  }

  #photo-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .item-img {
    width: 90vw;
    height: auto;
  }

  .project {
    .p-title {
      height: 40px;
      background-color: black;
      transition: 1s;
    }
  }
}

@keyframes ex-1 {
  50% {
    transform: scaleY(2);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes ex-2 {
  50% {
    transform: scaleY(4);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes cent {
  50% {
    transform: scaleY(4);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(25deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
